[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/hugo-theme-moments"]
	path = themes/hugo-theme-moments
	url = https://github.com/FarseaSH/hugo-theme-moments.git
[submodule "themes/Lowkey"]
	path = themes/Lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
